@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@400;700&family=Playfair+Display:wght@500&family=Roboto:wght@300;400;700&display=swap');

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.title {
  font-size: 3.2em;
  font-family: 'Roboto', sans-serif;  
  font-weight: 400;
  margin-left: 20px;
  margin-right: 40px;
  align-items: center;
}

.title-part {
  display: flex;
}
.title-part:first-of-type {
  position: relative;
  bottom: -10px;
  right: -30px;
}
.title-part:last-of-type {
  position: relative;
  bottom: 35px;
  right: -30px;
}

.topnav {
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.topnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.topnav li {
  margin: 0 10px;
}

.topnav a {
  text-decoration: none;
  color: #000;
  font-size: 2.2em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;  
  padding: 0px 25px;
}

.topnav a:hover {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-color: black;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.4em;
  }
  .topnav a {
    font-size: 1em;
  }
}

@media screen and (min-width: 479px) {
.topnav {
    padding-left: 25px !important;
    padding-right: 25px!important;
}
}
